__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.zip
*.tar.gz
.DS_Store
Thumbs.db
nca_out/
results_checkpoint.csv
failed.csv
*.egg-info/
dist/
build/
.env
.venv/
env/
venv/
*.log
nca_out/
*_checkpoint.csv
.pytest_cache/
